<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/face') %>
        <%- include('block/block2') %>
        <%- include('block/block3') %>
        <%- include('block/block4') %>
        <%- include('block/block5') %>
        <%- include('block/block6') %>
        <%- include('block/commits') %>
        <%- include('block/face') %>
        <footer class="footer">Global Partners LTD</footer>
    </div>
    <%- include('block/script') %>
</body>

</html>