<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <body>
        <section class="section section_face">
            <div class="container">
                <%- include('block/face') %>
            </div>
        </section>
        <%- include('block/drugs') %>
        <%- include('block/facts') %>
        <%- include('block/help') %>
        <%- include('block/chance') %>
        <%- include('block/professional') %>
        <%- include('block/commits') %>
        <%- include('block/warning') %>
        <%- include('block/order') %>
        <%- include('block/script') %>
        <section class="section section_face section_footer">
            <div class="container">
                <%- include('block/face') %>
            </div>
        </section>
    </body>
</html>
