<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <body>
        <%- include('block/popup-look') %>
        <section class="section section_face section_face-header">
            <canvas></canvas>
            <%- include('block/face') %>
        </section>
        <%- include('block/failures') %>
        <%- include('block/trouble') %>
        <%- include('block/help') %>
        <%- include('block/look') %>
        <section class="section section_face section_face-footer">
            <%- include('block/face') %>
        </section>
        <%- include('block/script') %>
    </body>
</html>
