<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <body>
        <section class="section section_face">
            <div class="container">
                <%- include('block/face') %>
            </div>
        </section>
        <%- include('block/recommendations') %>
        <%- include('block/advantages') %>
        <%- include('block/ingredients') %>
        <%- include('block/instructions') %>
        <%- include('block/regulations') %>
        <section class="section section_face section_footer">
            <div class="container">
                <%- include('block/face') %>
            </div>
        </section>
        <%- include('block/job') %>
        <%- include('block/cleanelle') %>
        <%- include('block/script') %>
    </body>
</html>
